@media (min-width: 1440px){
    .left-nav {
      display: block;
    }
  
    .top-nav {
      display: none;
    }
  
    main {
      padding: 20px;
    }
    body{
        font-size: 20px
    }
  }
  