<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/output.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <div class=""><%- include('partials/leftNavBar.ejs') %></div>
     
      <main><%- body %></main>
      <div class=""><%- include('partials/topNavBar.ejs') %></div>
    </div>
  </body>
</html>
